@media only screen and (max-device-width: 700px) {
  .slider {
    display: none;
  }

  header.mobile-header {
    width: 100vw;
    position: fixed;
    height: 65px;
    top: 0;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex !important;
    padding: 10px 20px;
  }
  header.mobile-header img {
    height: 45px;
  }
  header.mobile-header .burger {
    width: 45px;
    height: 35px;
    cursor: pointer;
    position: relative;
    z-index: 15;
  }
  header.mobile-header .burger .burger-line {
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
    width: 45px;
    height: 8px;
    background-image: -webkit-linear-gradient(269deg, #F89F1C 0%, #EF7231 100%);
    background-image: -o-linear-gradient(269deg, #F89F1C 0%, #EF7231 100%);
    background-image: linear-gradient(-179deg, #F89F1C 0%, #EF7231 100%);
    border-radius: 100px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }
  header.mobile-header .burger .bottom {
    transform: rotate(0);
  }
  header.mobile-header .menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
    z-index: 11;
    transition: 0.2s all linear;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    right: -100%;
    width: 50%;
    height: calc(100vh);
    font-family: Montserrat-Regular;
  }
  header.mobile-header .menu a {
    margin: 15px 0;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
  }
  header.mobile-header .menu a:hover {
    text-underline-color: #5A5A5A;
    color: #5A5A5A;
  }
  header.mobile-header .menu a:last-child {
    text-decoration: none;
    font-family: Montserrat-SemiBold;
    margin-right: 0;
    background-image: linear-gradient(-179deg, #F89F1C 0%, #EF7231 100%);
    border-radius: 100px;
    padding: 10px 15px;
    color: #ffffff;
  }
  header.mobile-header .menu a:last-child:hover {
    background-image: linear-gradient(-179deg, #e8921e 0%, #ce652c 100%);
  }

  .moveTop {
    position: absolute;
    animation: moveTop 0.5s !important;
    bottom: 13.5px !important;
    transform: rotate(-45deg) !important;
  }

  .moveBottom {
    position: absolute;
    animation: moveBot 0.5s !important;
    top: 13.5px !important;
    transform: rotate(45deg) !important;
  }

  moveTopRev {
    animation: moveTopRev 0.5s !important;
    position: static;
  }

  moveBottomRev {
    animation: moveBotRev 0.5s !important;
    position: static;
  }

  @keyframes moveTop {
    0% {
      bottom: 0;
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-45deg);
      bottom: 13.5px;
    }
  }
  @keyframes moveBot {
    0% {
      top: 0;
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
      top: 13.5px;
    }
  }
  @keyframes moveTopRev {
    0% {
      position: absolute;
      top: 13.5px;
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      position: static;
      top: 0;
    }
  }
  @keyframes moveBottomRev {
    0% {
      position: absolute;
      transform: rotate(-45deg);
      bottom: 13.5px;
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      position: static;
      bottom: 0;
    }
  }
  section.iphone-wrapper {
    overflow: hidden !important;
  }
  section.iphone-wrapper header:not(.mobile-header) {
    display: none !important;
  }
  section.iphone-wrapper .iphone {
    width: 75%;
  }
  section.iphone-wrapper .iphone .emoji {
    left: -1%;
  }
  section.iphone-wrapper .iphone .inner-container .inner {
    top: calc(-4vw) !important;
    left: calc(-13vw) !important;
  }
  section.iphone-wrapper .iphone .inner-container .box .notification {
    width: 80% !important;
  }
  section.iphone-wrapper .iphone .inner-container .box .notification .top img {
    margin-right: 1px !important;
    height: 15px !important;
  }
  section.iphone-wrapper .iphone .inner-container .box .notification .top h2 {
    font-family: Montserrat-Regular, sans-serif;
    font-weight: bold !important;
    font-size: 10px;
  }
  section.iphone-wrapper .iphone .inner-container .box .notification .top small {
    font-size: 7px;
  }
  section.iphone-wrapper .iphone .inner-container .box .notification .text h3 {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold !important;
    font-size: 7px !important;
  }
  section.iphone-wrapper .iphone .inner-container .box .notification .text p {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 6px;
  }
  section.iphone-wrapper .iphone .inner-container .box .notification .text small {
    font-size: 6px;
  }

  section#reviews .review {
    width: 90%;
  }
  section#reviews .review .circle-review {
    width: 25%;
  }
  section#reviews .review .message-review {
    padding: 10px 15px;
  }
  section#reviews .review .message-review p {
    line-height: 14px !important;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 12px;
  }
  section#reviews .review .message-review small {
    font-family: "Montserrat-Regular", sans-serif;
    line-height: 11px !important;
    font-size: 11px;
  }
  section#reviews .review .message-review img {
    bottom: calc(50% - 40px) !important;
    height: 20px;
    left: -17px;
  }
  section#reviews .review.second .message-review img {
    bottom: calc(50% - 32px) !important;
    height: 20px;
    right: -15px;
  }
  section#reviews .review.third .message-review img {
    bottom: calc(50% - 40px) !important;
    left: -15px;
  }
  section#reviews a {
    margin-top: 30px;
    font-size: 12px;
  }

  #manage, #create, #growth {
    flex-direction: column !important;
  }
  #manage h2, #create h2, #growth h2 {
    font-family: "Montserrat-Bold", sans-serif !important;
    line-height: 1 !important;
    margin-bottom: 0 !important;
  }
  #manage#manage, #create#manage, #growth#manage {
    flex-direction: column-reverse !important;
  }
  #manage#manage img.circle-svg, #create#manage img.circle-svg, #growth#manage img.circle-svg {
    width: 28% !important;
    top: 12.5% !important;
  }
  #manage#manage img.cross-svg, #create#manage img.cross-svg, #growth#manage img.cross-svg {
    bottom: 20%;
    width: 30%;
  }
  #manage#create .circle-big, #create#create .circle-big, #growth#create .circle-big {
    bottom: 70vh !important;
  }
  #manage#create .circle-small, #create#create .circle-small, #growth#create .circle-small {
    bottom: 62vh !important;
  }
  #manage#create .cross, #create#create .cross, #growth#create .cross {
    width: 25%;
    bottom: 35vh;
  }
  #manage#growth h2, #create#growth h2, #growth#growth h2 {
    margin-top: 15px !important;
  }
  #manage#growth .triangle, #create#growth .triangle, #growth#growth .triangle {
    width: 40% !important;
  }
  #manage#growth .circle-big, #create#growth .circle-big, #growth#growth .circle-big {
    width: 12% !important;
    top: 40vh !important;
  }
  #manage#growth .circle-small, #create#growth .circle-small, #growth#growth .circle-small {
    right: 2.5% !important;
    width: 7% !important;
    top: 46vh !important;
  }
  #manage .middle-card, #create .middle-card, #growth .middle-card {
    box-shadow: rgba(0, 0, 0, 0.4) -1px 2px 20px !important;
  }
  #manage .back-card, #create .back-card, #growth .back-card {
    box-shadow: rgba(0, 0, 0, 0.4) -1px 2px 20px !important;
    height: 75vw !important;
    width: 40% !important;
  }
  #manage .back-card .front-card, #create .back-card .front-card, #growth .back-card .front-card {
    box-shadow: rgba(0, 0, 0, 0.4) -1px 2px 20px !important;
  }
  #manage .text, #create .text, #growth .text {
    margin: 20px 0 !important;
    text-align: center;
    max-width: 95% !important;
  }
  #manage .text h2, #create .text h2, #growth .text h2 {
    font-size: 28px !important;
  }
  #manage .text p, #create .text p, #growth .text p {
    font-family: Montserrat-Regular, sans-serif !important;
    font-size: 14px !important;
  }

  #about {
    padding-top: 70px;
  }
  #about h2 {
    font-family: "Montserrat-Bold", sans-serif !important;
    font-size: 28px !important;
    margin-bottom: 20px !important;
  }
  #about p {
    font-family: "Montserrat-Regular", sans-serif !important;
    width: 90% !important;
    font-size: 13px !important;
  }
  #about img {
    margin-top: 0 !important;
    width: 20% !important;
  }

  #pricing {
    padding-top: 70px !important;
    height: auto !important;
  }
  #pricing img.half-circle {
    top: 30vh !important;
    width: 80% !important;
  }
  #pricing .small-circle {
    top: 5vh !important;
    right: 15% !important;
  }
  #pricing .empty-circle {
    right: 8% !important;
    top: 10vh !important;
  }
  #pricing h2 {
    font-family: Montserrat-Bold, sans-serif !important;
    font-size: 35px !important;
  }
  #pricing p {
    font-family: "Montserrat-Regular", sans-serif !important;
    padding: 0 10px;
    display: inline !important;
    line-break: normal !important;
    font-size: 12px !important;
  }
  #pricing p br {
    display: inline !important;
  }
  #pricing td {
    padding: 5px 15px !important;
    font-size: 16px !important;
  }
  #pricing th {
    font-size: 38px !important;
  }
  #pricing th small {
    font-size: 18px !important;
  }
  #pricing table td:last-child {
    padding: 5%;
  }
  #pricing table td:last-child a {
    margin-top: 5% !important;
    margin-bottom: 0 !important;
    width: 70% !important;
    padding: 10px 30px !important;
    font-size: 18px !important;
  }
  #pricing .pricing {
    height: auto !important;
    padding: 0 !important;
    display: block !important;
  }
  #pricing .pricing .border-table {
    height: 80vh !important;
    margin: 20px auto !important;
    max-width: 90% !important;
    width: 90% !important;
    min-height: 80vh !important;
  }
  #pricing .pricing .border-table.pro-border {
    margin: 20px auto !important;
  }
}

/*# sourceMappingURL=media.css.map */
