@charset "UTF-8";
@font-face {
  font-family: Montserrat-Regular;
  /* Имя шрифта */
  src: url("../assets/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  /* Имя шрифта */
  src: url("../assets/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-Light;
  /* Имя шрифта */
  src: url("../assets/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  /* Имя шрифта */
  src: url("../assets/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-ExtraLight;
  /* Имя шрифта */
  src: url("../assets/Montserrat-ExtraLight.ttf");
}
body, html {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.slider {
  position: fixed;
  height: 190px;
  right: 20px;
  top: calc(50vh - 95px);
  width: 15px;
  z-index: 10;
}
.slider .slider-dot {
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-bottom: 20px;
}
.slider .slider-dot:hover {
  transform: scale(1.5);
}
.slider .slider-dot:last-child {
  margin-bottom: 0;
}

section.iphone-wrapper {
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
}
section.iphone-wrapper header {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 15px 20px;
}
section.iphone-wrapper header img {
  max-height: 50px;
}
section.iphone-wrapper header nav {
  font-family: Montserrat-Regular;
}
section.iphone-wrapper header nav a {
  color: #5A5A5A;
  margin-right: 30px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}
section.iphone-wrapper header nav a:hover {
  text-underline-color: #5A5A5A;
  color: #5A5A5A;
}
section.iphone-wrapper header nav a:last-child {
  text-decoration: none;
  font-family: Montserrat-SemiBold;
  margin-right: 0;
  background-image: linear-gradient(-179deg, #F89F1C 0%, #EF7231 100%);
  border-radius: 100px;
  padding: 10px 30px;
  color: #ffffff;
}
section.iphone-wrapper header nav a:last-child:hover {
  background-image: linear-gradient(-179deg, #e8921e 0%, #ce652c 100%);
}
section.iphone-wrapper video, section.iphone-wrapper embed {
  transform: scale(1.2);
  position: absolute;
  height: 50vw;
  width: 100vw;
}
section.iphone-wrapper .iphone {
  visibility: hidden;
  width: 48%;
}
section.iphone-wrapper .iphone .emoji {
  position: absolute;
  z-index: 2;
  top: -30%;
  left: -5%;
  width: 110%;
}
section.iphone-wrapper .iphone img {
  width: 100%;
  z-index: 1;
  position: relative;
}
section.iphone-wrapper .iphone .inner-container {
  width: 98%;
  height: 94%;
  border-radius: 10%;
  position: absolute;
  top: 4%;
  left: 1%;
  overflow: hidden;
}
section.iphone-wrapper .iphone .inner {
  transform: scale(1.2);
  top: calc(-12.5vw - 4%);
  left: calc(-25vw - 1%);
  height: 50vw;
  width: 100vw;
  -webkit-filter: blur(10px);
  -ms-filter: blur(10x);
  -o-filter: blur(10px);
  filter: blur(10px);
}
section.iphone-wrapper .iphone .box {
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  color: #fff;
}
section.iphone-wrapper .iphone .box .notification {
  width: 420px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 13px;
}
section.iphone-wrapper .iphone .box .notification .text {
  padding: 7px 14px;
}
section.iphone-wrapper .iphone .box .notification .text h3 {
  opacity: 0.9;
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-bottom: 0;
}
section.iphone-wrapper .iphone .box .notification .text p {
  opacity: 0.9;
  font-family: Montserrat-Light;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-bottom: 2px;
}
section.iphone-wrapper .iphone .box .notification .text small {
  cursor: pointer;
  opacity: 0.35;
  font-family: Montserrat-Regular;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 0;
}
section.iphone-wrapper .iphone .box .notification .top {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 14px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
section.iphone-wrapper .iphone .box .notification .top .left {
  height: 100%;
}
section.iphone-wrapper .iphone .box .notification .top .left img {
  margin-right: 10px;
  height: 100%;
  display: inline-block;
}
section.iphone-wrapper .iphone .box .notification .top .left h2 {
  margin: 0;
  display: inline-block;
  font-family: Montserrat-Light;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
}
section.iphone-wrapper .iphone .box .notification .top small {
  /* time: */
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: right;
  font-family: Montserrat-Light;
}

section#manage {
  height: 100vh;
  width: 100%;
}
section#manage > img.circle-svg {
  left: 0;
  top: 0;
  width: 20%;
  position: absolute;
}
section#manage > img.cross-svg {
  width: 25%;
  right: 0;
  bottom: 0vh;
  position: absolute;
}
section#manage .text {
  margin-right: 2.5%;
  width: 100%;
  margin-top: 2%;
}
section#manage .text h2 {
  font-family: Montserrat-SemiBold;
  font-size: 50px;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 54px;
}
section#manage .text p {
  margin: 0;
  font-family: Montserrat-ExtraLight;
  font-size: 20px;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 24px;
}
section#manage figure {
  margin: 0 0 0 2.5%;
}
section#manage figure.back-card {
  margin-right: 5%;
  visibility: hidden;
  height: 27vw;
  width: 17%;
  background-image: url("../assets/ManageBack.png");
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.8) -1px 4px 40px;
  border-radius: 5px;
}
section#manage figure.back-card figure.front-card {
  border-radius: 5px;
  position: relative;
  border: 5px solid yellow;
  box-shadow: rgba(0, 0, 0, 0.5) -1px 5px 50px;
  border-image: url("../assets/ManageBack.png") 5 round round;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: -5%;
  right: -10%;
  padding: 0 15%;
}
section#manage figure.back-card figure.front-card img {
  width: 100%;
}

section#create {
  width: 100%;
  height: 100vh;
}
section#create .cross {
  left: 0;
  bottom: 0;
  width: 15%;
}
section#create .circle-small {
  right: 10%;
  width: 8%;
  bottom: 40vh;
}
section#create .circle-big {
  right: 0;
  width: 8%;
  bottom: 50vh;
}
section#create figure.back-card {
  top: -2vh;
  left: 2vw;
  height: 27vw;
  width: 17%;
  background-image: url("../assets/ManageBack.png");
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.8) -1px 4px 40px;
  border-radius: 5px;
  position: relative;
}
section#create figure.back-card figure.middle-card {
  top: 4vh;
  left: -4vw;
  position: relative;
  height: 100%;
  background-image: url("../assets/ManageBack.png");
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.8) -1px 4px 40px;
  border-radius: 5px;
}
section#create figure.back-card figure.middle-card figure.front-card {
  top: -2vh;
  left: 2vw;
  position: relative;
  border-radius: 5px;
  border: 5px solid yellow;
  box-shadow: rgba(0, 0, 0, 0.5) -1px 5px 50px;
  border-image: url("../assets/ManageBack.png") 5 round round;
  height: 100%;
  padding: 0 15%;
  background-color: white !important;
}
section#create figure.back-card figure.middle-card figure.front-card img {
  width: 80%;
}
section#create .text {
  width: 100%;
  margin-top: 2%;
}
section#create .text h2 {
  text-align: center;
  font-family: Montserrat-SemiBold;
  font-size: 50px;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 54px;
}
section#create .text p {
  margin: 0;
  text-align: center;
  font-family: Montserrat-Light;
  font-size: 20px;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 24px;
}

section#growth {
  height: 100vh;
  width: 100%;
}
section#growth .triangle {
  width: 30%;
  left: 0;
  top: 15vh;
}
section#growth .circle-small {
  width: 5%;
  top: 30vh;
  right: 5%;
}
section#growth .circle-big {
  width: 10%;
  top: 10vh;
  right: 10%;
}
section#growth .text {
  margin-left: 2.5%;
}
section#growth .text h2 {
  font-family: Montserrat-SemiBold;
  font-size: 50px;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 60px;
}
section#growth .text p {
  font-family: Montserrat-ExtraLight;
  font-size: 20px;
  color: #5A5A5A;
  letter-spacing: 0;
  line-height: 30px;
}
section#growth figure.back-card {
  margin: 0 2.5% 0 0;
  height: 27vw;
  width: 17%;
  background-image: url("../assets/ManageBack.png");
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.8) -1px 4px 40px;
  border-radius: 5px;
  bottom: -2vh;
  right: -1vw;
}
section#growth figure.back-card figure.front-card {
  bottom: 2vh;
  right: 1vw;
  height: 100%;
  border-radius: 5px;
  position: relative;
  border: 5px solid yellow;
  box-shadow: rgba(0, 0, 0, 0.5) -1px 5px 50px;
  border-image: url("../assets/ManageBack.png") 5 round round;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 15%;
}
section#growth figure.back-card figure.front-card img {
  width: 100%;
}

section#about {
  width: 100%;
  min-height: 100vh;
}
section#about h2 {
  text-align: center;
  font-family: Montserrat-SemiBold;
  font-size: 45px;
  color: #5A5A5A;
  letter-spacing: 0;
  text-align: center;
}
section#about p {
  width: 70%;
  text-align: center;
  font-family: Montserrat-ExtraLight;
  font-size: 20px;
  color: #5A5A5A;
  letter-spacing: 0;
  text-align: center;
}
section#about img {
  margin-top: 15px;
  width: 8%;
}

section#reviews {
  height: 100vh;
  width: 100%;
}
section#reviews .review {
  width: 70%;
}
section#reviews .review.first {
  margin-bottom: 25px;
}
section#reviews .review .circle-review {
  width: 12%;
  margin-right: 3%;
}
section#reviews .review .message-review {
  border-radius: 20px;
  padding: 10px 25px;
  background-image: linear-gradient(-179deg, #F89F1C 0%, #EF7231 100%);
}
section#reviews .review .message-review img {
  height: 30px;
  left: -29px;
  filter: brightness(101%);
  bottom: 25px;
}
section#reviews .review .message-review p {
  font-family: Montserrat-Light;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin: 0;
}
section#reviews .review .message-review small {
  text-align: end;
  font-family: Montserrat-ExtraLight;
  font-weight: lighter;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 24px;
}
section#reviews .review.second .circle-review {
  margin-right: 0;
  margin-left: 3%;
}
section#reviews .review.second .message-review {
  background-image: linear-gradient(-179deg, #57C9EA 0%, #01A8CB 100%) !important;
}
section#reviews .review.second .message-review img {
  height: 30px;
  left: unset;
  filter: brightness(102%);
  right: -29px;
  bottom: 15px;
}
section#reviews .review.third {
  margin-top: 25px;
}
section#reviews .review.third .message-review {
  background-image: linear-gradient(-179deg, #EE3869 0%, #ED1A43 100%);
}
section#reviews .review.third .message-review img {
  filter: brightness(101%);
  right: unset;
  left: -27px;
  bottom: 15px;
}
section#reviews a {
  text-decoration: none;
  color: #5F5F5F;
  cursor: pointer;
  border: 2px solid #5F5F5F;
  border-radius: 25px;
  padding: 10px 40px;
  font-family: Montserrat-Regular;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  margin-top: 60px;
}

section#pricing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0 0;
  min-height: 100vh !important;
  width: 100%;
}
section#pricing img.small-circle {
  position: absolute;
  right: 20%;
  top: -10vh;
  width: 5%;
}
section#pricing img.half-circle {
  position: absolute;
  left: 0;
  top: -80vh;
  width: 30%;
}
section#pricing img.empty-circle {
  position: absolute;
  right: 12%;
  top: 0;
  width: 6%;
}
section#pricing h2 {
  text-align: center;
  font-family: Montserrat-SemiBold;
  font-size: 40px;
  color: #5A5A5A;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}
section#pricing p {
  margin: 0;
  text-align: center;
  font-family: Montserrat-ExtraLight;
  font-size: 18px;
  line-height: 24px;
  color: #5A5A5A;
  text-align: center;
}
section#pricing .pricing {
  padding: 30px 0 20px;
  width: 100%;
  height: calc(100vh - 108px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#pricing .pricing .border-table {
  height: 100%;
  width: 25%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid rgba(151, 151, 151, 0.25);
  border-radius: 10px;
}
section#pricing .pricing table {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 100%;
}
section#pricing .pricing table tbody th {
  width: 100%;
  height: 24%;
  padding: 10px;
  text-align: center;
  font-family: Montserrat-SemiBold;
  font-size: 34px;
  color: #5A5A5A;
  font-weight: normal;
  letter-spacing: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(151, 151, 151, 0.25);
}
section#pricing .pricing table tbody th span {
  font-family: Montserrat-Light;
}
section#pricing .pricing table tbody th sup {
  font-family: Montserrat-ExtraLight;
  font-size: 15px;
  font-weight: lighter;
  color: #5A5A5A;
  letter-spacing: 0;
  text-align: center;
}
section#pricing .pricing table tbody td {
  text-align: center;
  height: 16%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(151, 151, 151, 0.25);
  font-family: Montserrat-Light;
  font-size: 14px;
  color: #5A5A5A;
  letter-spacing: 0;
  text-align: center;
}
section#pricing .pricing table tbody td strong {
  font-family: Montserrat-SemiBold;
}
section#pricing .pricing table tbody tr:last-child {
  height: 28%;
}
section#pricing .pricing table tbody tr:last-child td {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 0 2vh;
  border-bottom: 0;
}
section#pricing .pricing table tbody tr:last-child td a {
  text-decoration: none;
  vertical-align: bottom;
  outline: none;
  display: block;
  cursor: pointer;
  margin: 20px auto 0;
  width: 50%;
  font-family: Montserrat-SemiBold;
  border: 0;
  background-image: linear-gradient(-179deg, #F89F1C 0%, #EF7231 100%);
  font-size: 14px;
  border-radius: 100px;
  padding: 5px 0;
  color: #ffffff;
}
section#pricing .pricing table tbody tr:last-child td a:hover {
  background-image: linear-gradient(-179deg, #e8921e 0%, #ce652c 100%);
}
section#pricing .pricing div.pro-border {
  margin: 0 2%;
  border: 0;
  background-image: linear-gradient(-179deg, #F89F1C 0%, #EF7231 100%);
}
section#pricing .pricing div.pro-border table.pro {
  background-color: transparent;
}
section#pricing .pricing div.pro-border table.pro * {
  color: white;
}
section#pricing .pricing div.pro-border table.pro td, section#pricing .pricing div.pro-border table.pro th {
  border: 1px solid rgba(255, 255, 255, 0.25);
}
section#pricing .pricing div.pro-border tr:last-child td {
  border-bottom: 0;
}
section#pricing .pricing div.pro-border tr:last-child td a {
  border: 0;
  cursor: pointer;
  background: #fff !important;
  border-radius: 100px;
  font-family: Montserrat-SemiBold;
  color: #F0782F;
  letter-spacing: 0;
  text-align: center;
}
section#pricing .pricing div.pro-border tr:last-child td a:hover {
  color: black;
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
}
footer h1 {
  font-family: Montserrat-Light;
  font-size: 18px;
  line-height: 24px;
  color: #5A5A5A;
  letter-spacing: 0;
  text-align: center;
}

@media screen and (min-width: 1300px) {
  #reviews .review .message-review p {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  #reviews .review .message-review small {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  #pricing .pricing .border-table table th {
    font-size: 48px !important;
  }
  #pricing .pricing .border-table table td {
    font-size: 18px !important;
  }
}

/*# sourceMappingURL=style.css.map */
